<style>
    .border{
        display: inline-block;
        
        border-color: lightgrey;
        border-image: none;
        border-style: solid;
        border-width: 3px;
        height: 300px;
        width: 300px;
        overflow: hidden;
        margin-right: 20px;
        margin-bottom: 14px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        
        
    }
    .center{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 10px;

    }
</style>
<div class="text-center">
    <% @books.each do |book| %>
            <div class="border text-center">
                <% if book.image.present? %>
                <%= link_to image_tag(book.image, style: 'width: 300px;') ,book_path(book.id)%>
                <% end %>
            </div>
    <% end %>

    <br>
    <% if @books.blank? %>
    <% else %>
        <% if user_signed_in? %>
            <div class="text-center">
                <%= link_to 'Add Book', new_book_path, class:' btn btn-primary ' %>
            </div>
        <% end %>
    <% end %>
</div>

<% if @page <=0 %>
 <% if @books.blank? %>
 <% else %>
    <div class="center">
        <%= link_to 'Next Page', books_path(page: @page+1), class: 'btn btn-primary' %>
    </div>
  <% end %>
 <% end %>

<% if @page > 0 && @books.present?%>
    <div class="center">
        <%= link_to 'Previous Page', books_path(page: @page-1), class: 'btn btn-primary' %>
        <%= link_to 'Next Page', books_path(page: @page+1), class: 'btn btn-primary' %>
    </div>
<% end %>

<% if @books.blank? %>
    <div class="jumbotron"> 
        <div class="text-center">
            <%= image_tag( 'img/alert.png', width: '150px') %>
        </div>
    <h1 style="opacity: 0.5;", class="center">No books here!</h1>
    <h2  class="text-center">Go and <a href="/books/new"> add a book  </a>    to display here</h2>
</div>

 </div>
    <div class="center">
        <%= link_to 'Previous Page', books_path(page: @page-1), class: 'btn btn-primary' %>
    </div>
<% end%>


    


    



