<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>


<%= link_to 'Back', books_path %>

<% if user_signed_in? %>
 <% if current_user.id == @book.user_id %>
    <%= link_to 'Edit', edit_book_path(@book) %>
    <%= link_to 'Delete', book_path(@book), data: { turbo: "false" }, method: :delete, data: {turbo_confirm: 'You sure?'},data: {'turbo-method': :delete}%>
 <%end %>
 <% end %>