<style>
.img{
  text-align: center;
}
.hv:hover{
  border:  4px solid black;
}
</style>
<div class="container a">
  <div class="jumbotron">
        <% if @book.image.attached? %>
          <div class="img">
            <%= image_tag(@book.image,style: 'width: 180px', class:'hv') %>
          </div>
        <% else %>
        <h2 class="lead", style="opacity: 0.4;">No Image Attached </h2>
        <% end %>
        <div class="text-center">
          <h2><%= @book.title.upcase! %></h2>
          <h3><%= @book.author %></h3>
        </div>
        <div class="text-center" style="opacity: 0.5;">
          <p><%= @book.user.email %>  |
          <%= "#{time_ago_in_words(@book.created_at)} ago"%></p>
        </div>
  </div>
</div>  
<div class="text-center">
  <%= link_to 'Back', books_path, class: 'btn btn-primary'  %>
</div>

<% if user_signed_in? %>
 <% if current_user.id == @book.user_id %>
 <div class="text-center"> <br>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
    <%= link_to 'Delete', book_path(@book), data: { turbo: "false" }, method: :delete, data: {turbo_confirm: 'You sure?'},data: {'turbo-method': :delete}, class: 'btn btn-danger' %>
  </div>
 <%end %>
 <% end %>